.footer{
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.bottomRight{
  font-family: Proxima Nova,'Nunito Sans', Verdana,Geneva,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: #000000;

  span{
    color: #3DBDF6;
  }
}

.bottomLeft{
  font-family: Proxima Nova,'Nunito Sans', Verdana,Geneva,sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: #000000;

  span{
    color: #3DBDF6;
  }
}